#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp A      // Button 1 → types 'A' (test)
                &kp B      // Button 2 → types 'B'
            >;
	    sensor-bindings = < &inc_dec_kp LEFT_ARROW RIGHT_ARROW >;
        };
    };
};
