#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp LC(Z)      // Button 1 → types 'A' (test)
                &kp G      // Button 2 → types 'B'
		&bt BT_SEL 0
		&bt BT_CLR
            >;
	    sensor-bindings = < &inc_dec_kp KP_EQUAL KP_MINUS>;
        };
    };
};
